@import "tailwindcss";

:root {
  --background: #F7F8F2;
  --foreground: #171717;

  --light-Orange: #FFC457;
  --orange: #FFA600;
  --brown: #7F3907;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-argaka: var(--font-argaka-fashion);
  --font-telma: var(--font-telma);
  --font-sans: var(--font-plus-jakarta-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98.5%;
  background-position-y: 11px;
  padding-right: 2rem;
  transition: all 150ms ease;
}

select:hover {
  background-image: url("data:image/svg+xml;utf8,<svg fill='orange' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}